<div class="card" style="width: 75%;">
  <div class="row ">

    <div class="col-sm-4 " *ngFor="let r of paintings; let i=index">
      <div class="card shadow-effect ">
        <img class="card-img-top " src="assets/images/{{r.thumbnail_add}}" alt="Card image cap" style="height:150px">
        <div class="card-body">
          <h4 class="card-title">{{r.name}}</h4>
          <p class="card-text"><b>Type:</b>{{r.type}}
            <br><b>Size:</b> {{r.sze}} px
            <br><b>By:</b> <a href="#">{{names[i]}}</a>
          </p>
      
          <a href="#" class="btn btn-primary">+ Add To Cart</a>
        </div>
      </div>
    </div>


  </div>
</div>