<div class="card" style="width: 75%;">
  <div class="row">

    <div class="col-sm-4" *ngFor="let r of result.paintings">
      <div class="card shadow-effect">
        <img class="card-img-top" src="file:/C:/Users/SHWETA/Desktop/+{{r.thumbnail_add}}" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">{{r.name}}</h4>
          <p class="card-text">Some quick example text to build on the card title</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>


  </div>
</div>