<app-navbar></app-navbar>

<h3 style="text-align:center;">My Cart</h3>

<div *ngIf="msg === 'empty';then content else other_content">here is ignored</div>
<ng-template #content>
    <div class="container py-3">
        <div class="card shadow-effect">
            <div class="row ">
                <!-- <div class="col-md-4" style="padding: 30px">
                      <img src="assets/images/{{usr?.pic}}" class="w-100">
                    </div> -->
                <div class="col-md-8 px-3">
                    <div class="card-block px-3">
                        <h4 class="card-title" style="text-align:center; color:red">Your cart is empty....</h4>
                    </div>
                </div>
            </div>
        </div>
        <p style="text-align:center;">
            <a href="/">
                <u>Continue Shopping</u>
            </a>
        </p>
    </div>
</ng-template>

<ng-template #other_content>
    <div style="display: flex;">

        <div class="container row" style="flex: 1">
            <div class="card shadow-effect">
                <div class="row" *ngFor="let r of paintings; let i=index">
                    <div class="col s12">
                        <div class="card shadow-effect ">
                            <img class="card-img-top " src="assets/images/{{r.thumbnail_add}}" alt="Card image cap" style="height:150px">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-7">
                                        <h4 class="card-title">{{r.name}}</h4>                                
                                    </div>
                                    <div class="col-md-5">
                                        <h4 class="card-title">price:- {{r.price}}Rs/-</h4> 
                                    </div>
                                </div>
                                <p class="card-text">
                                    <b>Type:</b>{{r.type}}
                                    <br>
                                    <b>Size:</b> {{r.sze}} px
                                    <br>
                                    <b>By:</b>
                                    <a [routerLink]="['/artist', r.user_id ]"> {{names[i]}} </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
        </div>

    </div>
</ng-template>